<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @student.Firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @student.Lastname %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @student.GPA %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @student.DoB %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.Gender %>
</p>

<p>
  <strong>Previouscollege:</strong>
  <%= @student.previouscollege %>
</p>

<p>
  <strong>Ethnicity:</strong>
  <%= @student.Ethnicity %>
</p>

<p>
  <strong>Race:</strong>
  <%= @student.Race %>
</p>

<p>
  <strong>Enrolled:</strong>
  <%= @student.enrolled %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @student.SSN %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>


