<p id="notice"><%= notice %></p>
<%= link_to 'student', students_path %>
<%= link_to 'surveys', surveys_path %>
<%= link_to 'operators', operators_path %>
<hr/>

<h1>Listing Banners</h1>

<table>
  <thead>
    <tr>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Gpa</th>
      <th>Concentration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @banners.each do |banner| %>
      <tr>
        <td><%= banner.Firstname %></td>
        <td><%= banner.Lastname %></td>
        <td><%= banner.GPA %></td>
        <td><%= banner.Concentration %></td>
        <td><%= link_to 'Show', banner %></td>
        <td><%= link_to 'Edit', edit_banner_path(banner) %></td>
        <td><%= link_to 'Destroy', banner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Banner', new_banner_path %>
