<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @operator.Firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @operator.Lastname %>
</p>

<p>
  <strong>Concentration:</strong>
  <%= @operator.Concentration %>
</p>

<p>
  <strong>Projectyear:</strong>
  <%= @operator.projectyear %>
</p>

<p>
  <strong>Email:</strong>
  <%= @operator.email %>
</p>

<p>
  <strong>Gpa:</strong>
  <%= @operator.GPA %>
</p>

<%= link_to 'Edit', edit_operator_path(@operator) %> |
<%= link_to 'Back', operators_path %>
