<%= form_for(@survey) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Firstname %><br>
    <%= f.text_field :Firstname %>
  </div>
  <div class="field">
    <%= f.label :Lastname %><br>
    <%= f.text_field :Lastname %>
  </div>
  <div class="field">
    <%= f.label :SSN %><br>
    <%= f.text_field :SSN %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :Concentration %><br>
    <%= f.text_field :Concentration %>
  </div>
  <div class="field">
    <%= f.label :DoB %><br>
    <%= f.date_select :DoB %>
  </div>
  <div class="field">
    <%= f.label :Gender %><br>
    <%= f.text_field :Gender %>
  </div>
  <div class="field">
    <%= f.label :Ethnicity %><br>
    <%= f.text_field :Ethnicity %>
  </div>
  <div class="field">
    <%= f.label :Enrolled %><br>
    <%= f.text_field :Enrolled %>
  </div>
  <div class="field">
    <%= f.label :previouscollege %><br>
    <%= f.text_field :previouscollege %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
